<!DOCTYPE html>
<html>
<head>
    <title>Simple Data Input</title>
</head>
<body>
    <form action="/submit" method="post">
        Name: <input type="text" name="name"><br>
        Email: <input type="text" name="email"><br>
        College Level: 
        <input type="radio" name="college_level" value="BS"> BS
        <input type="radio" name="college_level" value="MS"> MS<br>
        Classes Taken: <input type="text" name="classes_taken"><br>
        Class Expectation: <textarea name="class_expectation"></textarea><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
